<mat-accordion [multi]="true">
  <div class="containers" id="parent-container" [dragula]="'PokemonSection'" [(dragulaModel)]="sections">
    <div class="section" *ngFor="let section of sections">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div>
          <p class="section-title">{{section.name}}</p>
        </div>
      </mat-expansion-panel-header>
      <div class="containers" id="{{'section-' + section.ID}}" [dragula]="'PokemonItem'" [(dragulaModel)]="section.lineItems">
        <div class="containers item"
               style="border: thick solid #ff9bac; width:50%; height: 50%"
               *ngFor="let lineItem of section.lineItems">
            <div class="item">
              <p class="item-title">{{'Name: ' + lineItem.Name}}</p>
              <p>{{'Description: ' + lineItem.Description}}</p>
              <img [src]="lineItem.ImageUrl">
            </div>
          </div>
      </div>
    </mat-expansion-panel>
    </div>
  </div>
</mat-accordion>

